.App {
  font-family: Verdana;
  line-height: 160%;
  margin: 60px;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  margin-bottom: 50px;
}

hr {
  border-style: solid;
  border-width: 1px;
}

h3 {
  font-weight: normal;
  margin-bottom: 0px;
}

#focused {
  font-weight: bold;
}

p {
  width: fit-content;
  margin: 10px 20px;
}

.two-col {
  display: flex;

}

.side {
  width: 50%;
}

.float {
  position: 'absolute';
  bottom: 0;
}

.flex {
  display: flex;
}

.circle-focused {
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: bold;
  margin: 10px;
  background-color: black;
}

.circle {
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  background: gray;
  font-family: 'Times New Roman', Times, serif;
  font-style: bold;
  margin: 10px;
}
